<h2>All tasks for the project <a class="nav-link text-dark" href="/Projects/Show/@ViewBag.ProjectTasks.Id"> @ViewBag.ProjectTasks.Name</a>
</h2>
<br />


@foreach (var task in ViewBag.TasksProject)
{
    <div class="card">
        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">
                <a class="nav-link text-dark" href="/Tasks/Show/@task.Id"> @task.Name</a>
                
            </h3>
            <div>Assigned to : @task.User.FirstName</div>
            <div>Description: @task.Description </div>
            <div>Status : @task.status</div>
            <div>Created : @task.CreatedDate</div>

        </div>
    </div>
    <br />
}