<!--Show page for a specific task + comments-->

@if (TempData.ContainsKey("Message"))
{
    <h2 class="alert @TempData["MessageStyle"] p-3 rounded-3 text-center mb-5">
        @TempData["Message"]</h2>
}



<div class="" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">@ViewBag.TaskShow.Name</h3>

        <div class="card-text">Assigned to : @ViewBag.TaskShow.User.FirstName</div>
        <div class="card-text">Description: @ViewBag.TaskShow.Description </div>
        <div class="card-text">Status : @ViewBag.TaskShow.status</div>
        <div class="card-text">Created : @ViewBag.TaskShow.CreatedDate</div>
    </div>
</div>
<div>
    <form method="post" action="/Tasks/Delete/@ViewBag.TaskShow.Id">
        <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i>Delete task</button>
    </form>
</div>
<div>

    <a class="btn btn-danger" href="/Tasks/Edit/@ViewBag.TaskShow.Id">Edit</a>

</div>



<!--formular commentarii-->
@*<button onclick="displayForm()" type="button" class="btn btn-primary btn-sm" >Small button</button>
*@


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" 
            aria-expanded="false" aria-controls="collapseOne">
                Add comment
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div id="form-comment" class="card">
                    <form method="post" action="/Tasks/AddComment/@ViewBag.TaskShow.Id">

                        <div class="card-body">
                            @Html.Label("Content", "Content")
                            <br />
                            @Html.TextArea("Content", null, new { @class = "form-control" })
                            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                            <br />
                        </div>

                        <button class="btn btn-success " type="submit">Add comment</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>


    <br />
<!--lista comentariilor-->
<h5>Comments on this task</h5>
<div class="container border border-secondary rounded">

@foreach (var comm in ViewBag.Comments)
{

        <div class="row">
         
        <div class="card-body">
            <div class="card-text ">@comm.Content</div>
            <div>By : @comm.User.FirstName at @comm.CreatedAt</div>
        </div>
            
                <!--Buttons for edit and delete-->
                @if (ViewBag.IsAdmin || ViewBag.CurrentUser == @comm.UserId) // check for edit and delete rights
                {
                <div class="d-flex ">
                    <div>

                        <a class="btn btn-outline-secondary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                    </div>
                    <br/>

                    <div>

                    <form method="post" action="/Comments/Delete/@comm.Id">

                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                    </form>

                    </div>
                </div>
                }
            
        </div>
    
    <br />
}
    <div class="container border border-secondary rounded">


<script>
   /* function displayForm() {
        var form = document.getElementById("form-comment");
        form.style.display = "block";
    }*/

</script>