<h2>Projects</h2>
<br />


@if (TempData.ContainsKey("Message"))
{
    <h2 class="alert @TempData["MessageStyle"] p-3 rounded-3 text-center mb-5">
        @TempData["Message"]
    </h2>
}

@foreach (var project in ViewBag.Projects)
{
    <div class="card">
        <div class="card-body">

            <h3 class="card-title head py-3 px-3 rounded-2"><a class=" nav-link " href="/Projects/Show/@project.Id">@project.Name</a></h3>

            <div class="card-text">@project.Description</div>
            <div class="card-text">Created by @project.User.FirstName at @project.CreatedDate.ToShortDateString()</div>

        </div>
    </div>
    <br />
}


<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }
            
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            
        </ul>
    </nav>
</div>
