<h2>Projects</h2>
<br />


@if (TempData.ContainsKey("MessageProjects"))
{
    <h2 class="alert @TempData["MessageStyleProjects"] p-3 rounded-3 text-center mb-5">
        @TempData["MessageProjects"]
    </h2>
}

@foreach (var project in ViewBag.Projects)
{
    <div class="card">
        <div class="card-body">

            <h3 class="card-title head py-3 px-3 rounded-2"><a class=" nav-link " href="/Projects/Show/@project.Id">@project.Name</a></h3>

            <div class="card-text">@project.Description</div>
            <div class="card-text">Created by @project.User.FirstName at @project.CreatedDate.ToShortDateString()</div>

        </div>
    </div>
    <br />
}