@model TaskManagementApp.Models.ApplicationUser


<div class="form-group" style="width:30rem" >

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users",
        method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{

    @Html.Label("UserName", "User Name")

    <br />

        @Html.EditorFor(m => m.UserName ,  new {htmlAttributes=  new { @class = "form-control" , placeholder = "User Name" }})

    <br />

    @Html.Label("Email", "Email User")

    <br />

        @Html.EditorFor(m => m.Email , new {htmlAttributes=  new { @class = "form-control" , placeholder = "Email" }})

    <br />

    @Html.Label("PhoneNumber", "Phone Number")

    <br />

        @Html.EditorFor(m => m.PhoneNumber ,  new {htmlAttributes=  new { @class = "form-control" , placeholder = "Phone Number" }});

    <br />

    @Html.Label("FirstName", "First Name")

    <br />

        @Html.EditorFor(m => m.FirstName , new {htmlAttributes=  new { @class = "form-control" , placeholder = "First Name" }});

    <br />

    @Html.Label("LastName", "Last Name")

    <br />

        @Html.EditorFor(m => m.LastName , new {htmlAttributes=  new { @class = "form-control" , placeholder = "Last Name" }})

    <br />

    <label>Select New Role</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Edit user</button>


    }
</div>

